body{
    margin: 0;
    padding: 0;
    background-color: rgb(61, 49, 100);
}
#Conteudo{
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
    margin: auto;
    background-color: white;
}
button{
    padding: 5px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: rgb(25, 15, 46);

}